
.question{
    
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;

    &__botones{
        display: flex;
        gap: 10px;
    }
}