img{
    width: 150px;
    padding-left: 10px;
    padding-top: 10px;
}

.tablero{
    display: flex;
    .fila{
        display: flex;
        flex-direction: column;
        width: 150px;
        .col{
            width: 150px;
        }
    }
}