
.game{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__info{
        display: flex;
        gap: 5vw;
        margin-bottom: 5vh;
    }
    .tablero{
    display: flex;

        .fila{
            display: flex;
            flex-direction: column;
                .image{
                width: 20vw;
                height: 20vw;
                max-width: 150px;
                max-height: 150px;
                padding-right: 1vw;
                padding-top: 1vw;
            }
        }
    }   
}
